body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
}

.NavContainer {
  flex-basis: 200px;
}

.TopBar {
  position: relative;
  height: 60px;
  background: #343434;
  z-index: 1;
  top: 0;
}

.NavBar {
  position: fixed;
  width: 200px;
  background-color: #f6f8fe;
  top: 0px;
  left: 0;
  bottom: 0;
}

.NavBarContent {
  padding-left: 10px;
  padding-top: 60px;
}

.ContentContainer {
  margin: 40px;
  flex: 1;
  height: 100%;
  width: calc(100% - 200px);
}

.Content {
  border-radius: 50px;
  height: 100vh;
  background-color: #f6f8fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ed553b;
  background: linear-gradient(90deg, rgba(237, 85, 59, 1) 0%, rgb(228, 113, 113) 0%, rgb(219, 83, 70) 17%);
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.errorMessage {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

/* HomePage*/

.home {
  display: flex;
  z-index: 10;
  justify-content: center;
  height: 90vh;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* ReportPage*/

.center {
  display: flex;
  z-index: 10;
  justify-content: center;
  height: 90vh;
  align-items: center;
  flex-direction: column;
}

.btn-create {
  color: black;
  background-color: orangered;
}

.data-input {
  color: black;

}

.onChange {
  color: #111;
}

.search {
  width: 250px;
  column-rule-style: #ed553b;
  text-align: center;
  margin-bottom: 25px;
}

.reporth4 {
  text-align: center;
}

.date {
  width: 300px;
  column-width: 300px;
  text-align: center;
  margin-top: 25px;
}

.centerContent {
  text-align: center;
}

ul {
  list-style-type: none;
}

.reportsList {
  margin-left: 80px;
}

.pieChart {
  width: 25%;
  height: 25%;
  border: solid;
}

.spinner {
  display: block;
  margin: 0 auto;
  border-color: red;
  width: 100px
}

.inputField {
  margin-bottom: 25px;
}

.reportSection {
  margin-bottom: 50px;
}

.createButton {
  margin-bottom: 50px;
}

.navIcon {
  margin-right: 5px;
}

.navText {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.navText a {
  color: black;
  text-decoration: none;
}

.navText a:hover {
  color: rgb(237, 160, 31);
}

.navText:hover {
  color: rgb(237, 160, 31);
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
}

.insight {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

.insight:hover {
  color: white;
}

.MenuIcon {
  color: white;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}