body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ed553b;
  ;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.header li a:hover:not(.active) {
  background-color: orangered;
}

.active {
  background-color: #ed553b;
}

.logout {
  float: right;
  border: none;
  background: none;
  cursor: pointer;
  padding: 14px 16px;
  color: white;
}

.logout:hover {
  background-color: #111;
}

.errorMessage {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

/* HomePage*/

.border {
  display: flex;
  z-index: 10;
  justify-content: center;
  height: 90vh;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 20px;
  border-color: #ed553b;
  border-style: solid;

}

/* ReportPage*/

.center {
  display: flex;
  z-index: 10;
  justify-content: center;
  height: 90vh;
  align-items: center;
  flex-direction: column;
}

.btn-create {
  color: black;
  background-color: orangered;
}

.data-input {
  color: black;

}

.onChange {
  color: #111;
}

.search {
  width: 250px;
  column-rule-style: #ed553b;
  text-align: center;
  margin-bottom: 25px;
}

.reporth4 {
  text-align: center;
}

.date {
  width: 300px;
  column-width: 300px;
  text-align: center;
  margin-top: 25px;
}

.centerContent {
  text-align: center;
}

ul {
  list-style-type: none;
}

.reportsList {
  margin-left: 80px;
}

.pieChart {
  width: 25%;
  height: 25%;
}

.spinner {
  display: block;
  margin: 0 auto;
  border-color: red;
  width: 100px
}